.list__guests {
  text-align: right;
  margin: 20px;
}

.list__container {
  margin: 0 40px;
}

.tasks__container {
  margin: 20px 0;
}

.list__container__desc {
  padding: 20px 0;
}

.subtasks {
  padding-left: 30px;
}