@import "./reset.local";
@import "./index";
@import "./nav";
@import "./list";
@import "./addTask";
@import "./home";
@import "./buttons";
@import "./task";
@import "./forms";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  font-family: sans-serif;
}
.app {
  position: relative;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

.main {
  margin: 0 auto;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
  padding: 10px 0;
}
// .box__info {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: flex-start;
// }

// .box__info__columnn {
//   // flex-basis: 50%;
//   padding: 20px;
// }

// .box__img__container {
//   width: 300px;
//   height: 250px;
// }

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.success__txt {
  text-align: center;
}

.form__txt {
  text-align: center;
}
